@using PadukaBazarWebApp.Models
@model PadukaBazarWebApp.Models.SubCatagory

@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Catagory> listOfCatagories = ViewBag.ListOfCatagori;
    List<SubCatagory> listOfSubCatagories = ViewBag.SubCatagoryList;
}

<h2>Save</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sub Catagory</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.SubCatagoryName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SubCatagoryName)
                @Html.ValidationMessageFor(model => model.SubCatagoryName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CatagoryId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CatagoryId,new SelectList(listOfCatagories, "Id", "CatagoryName"))
                @Html.ValidationMessageFor(model => model.CatagoryId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
            <h3>@ViewBag.Message</h3>
        </div>
    </div>
    <div>
        <fieldset>
            <legend>View All Sub Catagory</legend>


            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sreial No</th>
                        <th>Sub Catagory Name</th>
                        <th>Catagory Id</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var subCatagory in listOfSubCatagories)
                    {
                        <tr>
                            <td>@subCatagory.Id</td>
                            <td>@subCatagory.SubCatagoryName</td>
                            <td>@subCatagory.CatagoryId</td>
                        </tr>
                    }
                </tbody>
            </table>

        </fieldset>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
